<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  backupStaticAttributes="false"
  cacheTokens="false"
  bootstrap="tests/bootstrap.php"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  forceCoversAnnotation="false"
  processIsolation="true"
  stopOnError="true"
  stopOnFailure="true"
  stopOnIncomplete="true"
  stopOnSkipped="true"
  verbose="true"
>
  <testsuites>
    <testsuite name="CaptchaV2 Tests">
      <directory suffix=".test.php">
        tests/TestSuites/CaptchaV2
      </directory>
    </testsuite>
    <testsuite name="Common Tests">
      <directory suffix=".test.php">
        tests/TestSuites/Common
      </directory>
    </testsuite>
    <testsuite name="Live Tests">
      <directory suffix=".test.php">
        tests/TestSuites/Live
      </directory>
    </testsuite>
    <testsuite name="Editor Tests">
      <directory suffix=".test.php">
        tests/TestSuites/Editor
      </directory>
    </testsuite>
    <testsuite name="ElasticSearch Tests">
      <directory suffix=".test.php">
        tests/TestSuites/ElasticSearch
      </directory>
    </testsuite>
  </testsuites>
</phpunit>
